img{
  width: 600px;
  height: 500px;
}
.textoc{
  color: black;
}
.imgcard{
  width: 286px;
  height: 180px;
}
.prods{
  margin-bottom: 30px;
  margin: 20px;
}
.produto{
  display: flex;
  justify-content: center;
}
.cab{
  background-color:bisque;
}
.conteudosobre{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.sobre{
  color: darkgray;
}
.conts{
  margin-top: 15px;
  display: flex;
}
.conts2{
  margin-top: 15px;
  display: flex;
}
.txts{
  width: 50%;
  margin: 10px;
}
.txts2{
  width: 50%;
  margin: 10px;
  text-align: right;
}
.imgs{
  width: 600px;
  height: 600px;
}
.ps{
  font-size: 18px;
}
.formulario{
  margin-right: 100px;
  width: 45%;
}
.contc{
  margin: 60px;
  display: flex;
}
.icone{
  width: 40px;
  height: 40px;
  margin-left: 100px;
}